<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- NAME: 1 COLUMN -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: white;color: black;height: 100% !important;width: 100% !important;">
		<center>
		<h2>Recently registered</h2>
		<table>
			<thead>
				<tr>
					<td>#</td>
					<td>ID</td>
					<td>Name</td>
					<td>Signed at</td>
				</tr>
			</thead>
			<tbody>
				{{#each items}}
					<tr>
							<td>{{@index}}</td>
							<td><h4 style="display: inline">{{_id}}</h4></td>
							<td><h3 style="display: inline">{{profile.name}}</h3></td>
							<td><h3 style="display: inline">{{createdAt}}</h3></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<table>
			<tbody>
				<tr><em>{{footer}}</em></tr>
			</tbody>
		</table>
		</center>
	</body>
</html>